<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstacartGrpSVA</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @RenderSection("css", required: false)
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">InstacartGrpSVA</a>
            </div>
            <div class="navbar-collapse collapse" id=".navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exploratory Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Product Analysis</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Bestsellers", "Bestsellers", "Home")</li>
                                    <li>@Html.ActionLink("Organic vs Non-organic", "OrganicVsNonOrganic", "Home")</li>
                                    <li>@Html.ActionLink("Reordering Organic vs Non-organic", "ReOrganicVsNonOrganic", "Home")</li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Customer Analysis</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Exploring Customer Habits</a></li>
                                    <li><a href="#">The customer with the strongest habit</a></li>
                                    <li>@Html.ActionLink("Item on Cart First", "ItemOnCartFirst", "Home")</li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Association Analysis</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Association between time of last order and probability of reorder</a></li>
                                    <li><a href="#">Association between number of orders and probability of reordering</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Order Analysis</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("How many items do people buy?", "ItemsDoPeopleBuy", "Home")</li>
                                    <li>@Html.ActionLink("New Order vs Reorder", "NewOrderVsReorder", "Home")</li>
                                    <li>@Html.ActionLink("Most often reordered", "MostOftenReordered", "Home")</li>
                                    <li class="dropdown-submenu">
                                        <a href="#">When do customer order?</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Hour of Day", "HourOfDay", "Home")</li>
                                            <li>@Html.ActionLink("Day of Week", "DayOfWeek", "Home")</li>
                                            <li>@Html.ActionLink("Reorder", "DaySincePriorOrder", "Home")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Market Basket Analysis", "MarketBasketAnalysis", "Home")</li>
                            <li>@Html.ActionLink("Income Prediction", "IncomePrediction", "Home")</li>
                            <li>@Html.ActionLink("Natural Language Processing", "NaturalLanguageProcessing", "Home")</li>
                            <li>@Html.ActionLink("Clustering", "Clustering", "Home")</li>
                            <li>@Html.ActionLink("More Analytics", "MoreAnalytics", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repository<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Aisle Data", "UploadFiles", "Home")</li>
                            <li>@Html.ActionLink("Department Data", "DepartmentFiles", "Home")</li>
                            <li>@Html.ActionLink("Product Data", "ProductFiles", "Home")</li>
                            <li>@Html.ActionLink("Order Data", "OrderFiles", "Home")</li>
                            <li>@Html.ActionLink("Order+Product Data", "OrderProductFiles", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - InstacartGrpSVA</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>